.idea
.vscode
*.DS_Store
/build
info.txt
/node_modules
/platforms
/plugins
/www
/third_party/Potatso/Pods
/Carthage
xcuserdata/
.vs/
obj/
packages/
*.pdb
tools/OutlineService/OutlineService/bin/*
!tools/OutlineService/OutlineService/bin/*.exe
*.sw?
tools/smartdnsblock/bin/*
!tools/smartdnsblock/bin/*.exe
third_party/libev/aclocal.m4
third_party/libev/compile
third_party/libev/config.guess
third_party/libev/config.h
third_party/libev/config.h.in
third_party/libev/config.log
third_party/libev/config.status
third_party/libev/config.sub
third_party/libev/configure
third_party/libev/depcomp
third_party/libev/install-sh
third_party/libev/libtool
third_party/libev/ltmain.sh
third_party/libev/Makefile
third_party/libev/Makefile.in
third_party/libev/missing
third_party/libev/stamp-h1
third_party/libev/.deps/ev.Plo
third_party/libev/.deps/event.Plo
third_party/libev/apple/libev/aclocal.m4
third_party/libev/apple/libev/autogen.sh
third_party/libev/apple/libev/Changes
third_party/libev/apple/libev/compile
third_party/libev/apple/libev/config.guess
third_party/libev/apple/libev/config.h
third_party/libev/apple/libev/config.h.in
third_party/libev/apple/libev/config.log
third_party/libev/apple/libev/config.status
third_party/libev/apple/libev/config.sub
third_party/libev/apple/libev/configure
third_party/libev/apple/libev/configure.ac
third_party/libev/apple/libev/depcomp
third_party/libev/apple/libev/ev++.h
third_party/libev/apple/libev/ev.3
third_party/libev/apple/libev/ev.c
third_party/libev/apple/libev/ev.h
third_party/libev/apple/libev/ev.pod
third_party/libev/apple/libev/ev_epoll.c
third_party/libev/apple/libev/ev_kqueue.c
third_party/libev/apple/libev/ev_poll.c
third_party/libev/apple/libev/ev_port.c
third_party/libev/apple/libev/ev_select.c
third_party/libev/apple/libev/ev_vars.h
third_party/libev/apple/libev/ev_win32.c
third_party/libev/apple/libev/ev_wrap.h
third_party/libev/apple/libev/event.c
third_party/libev/apple/libev/event.h
third_party/libev/apple/libev/event_compat.h
third_party/libev/apple/libev/import_libevent
third_party/libev/apple/libev/install-sh
third_party/libev/apple/libev/libev.m4
third_party/libev/apple/libev/libtool
third_party/libev/apple/libev/LICENSE
third_party/libev/apple/libev/ltmain.sh
third_party/libev/apple/libev/Makefile
third_party/libev/apple/libev/Makefile.am
third_party/libev/apple/libev/Makefile.in
third_party/libev/apple/libev/METADATA
third_party/libev/apple/libev/missing
third_party/libev/apple/libev/README
third_party/libev/apple/libev/README.embed
third_party/libev/apple/libev/stamp-h1
third_party/libev/apple/libev/Symbols.ev
third_party/libev/apple/libev/Symbols.event
third_party/libev/apple/libev/update_ev_c
third_party/libev/apple/libev/update_ev_wrap
third_party/libev/apple/libev/update_symbols
third_party/libev/apple/libev/.deps/ev.Plo
third_party/libev/apple/libev/.deps/event.Plo
third_party/libev/apple/libev/autom4te.cache/output.0
third_party/libev/apple/libev/autom4te.cache/output.1
third_party/libev/apple/libev/autom4te.cache/output.1t
third_party/libev/apple/libev/autom4te.cache/output.2
third_party/libev/apple/libev/autom4te.cache/requests
third_party/libev/apple/libev/autom4te.cache/traces.0
third_party/libev/apple/libev/autom4te.cache/traces.1
third_party/libev/apple/libev/autom4te.cache/traces.1t
third_party/libev/apple/libev/autom4te.cache/traces.2
third_party/libev/apple/libev/CVS/Entries
third_party/libev/apple/libev/CVS/Repository
third_party/libev/apple/libev/CVS/Root
third_party/libev/apple/libev/CVS/Tag
third_party/libev/autom4te.cache/output.0
third_party/libev/autom4te.cache/output.1
third_party/libev/autom4te.cache/output.2
third_party/libev/autom4te.cache/requests
third_party/libev/autom4te.cache/traces.0
third_party/libev/autom4te.cache/traces.1
third_party/libev/autom4te.cache/traces.2
